<!DOCTYPE html>
<html>
<body style="background-color:silver;"  >
<style>
header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%;


}

</style>

<body>


 <header>  
  <h2>Quadro de Notas</h2>
 </header> 
 <form action="/logout?_method=DELETE" method="POST">
  <button type="submit"> Logout</button>
</form>

      <h1 style="text-align:center;" >Nova nota:</h1>
  <div>
    <form action="/" method="post">
    
        <input type="number" style="display: none;" 
               name="noteId" >
        <textarea  type="text" rows="6" cols="30" 
                  placeholder="Escreva nota..." 
                  style="text-align:center;"
                  name="noteContent"></textarea >
        <br>

        <button type="submit" >Salvar</button>

    </form>
  </div>
    <div>
  
        <% data.forEach(element=> { %>
  
            <form action="/update" method="post">
                <input type="number" style="display: none;" 
                       name="noteId" value="<%= element.noteId %>">
                <textarea type="text" rows="6" cols="30" 
                          placeholder="Escreva nota..." name="noteContent"
                    value="<%= element.noteContent %>">
                      <%= element.noteContent %></textarea>
                <br>
                <button type="submit">Alterar</button>
            </form>
  
            <form action="/delete" method="post">
                <input type="number" style="display: none;" 
                       name="noteId" value="<%= element.noteId %>">
                <button type="submit" >✕</button>
            </form>
            <% }) %>
    </div>
</body>


  
</html>