<h1><%= name %> Logado com sucesso </hi>
 <div>
 <label>Anotação</label>
 <input type="text">
 <button> Salvar</button>
 </div>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit"> Logout</button>
</form>